body {
    background-color: black;
    color: white;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div{
    margin-block: 20px;
}

button{
    width: 100px;
    height: 25px;
}

span{
    margin-inline: 5px;
}